<h1 mat-dialog-title>Icons</h1>
<form mat-dialog-content fxLayout="row wrap" fxLayoutGap="8px">
    <div class="color-wrap" [ngStyle]="{'border': getSelectStyle(item)}" (click)="selectedColor('none')">
        <span>None</span>
    </div>
    <div class="color-wrap" *ngFor="let item of icons" [ngStyle]="{'border': getSelectStyle(item)}" (click)="selectedColor(item)">
        <span class="material-icons">
            {{item}}
        </span>
    </div>

</form>
<div mat-dialog-actions align="end">
    <button color="primary" mat-flat-button cdkFocusInitial (click)="choose()">Choose</button>
    <button mat-button (click)="close()">Cancel</button>
</div>